body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.list {
  margin-top: 15px;
  li {
    margin: 10px 5px;
    list-style: none;
    span {
      display: inline-block;
      width: 200px;
      margin-left: 15px;
    }
  }
}
.loading {
  margin-top: 25px;
  text-align: center;
  font-weight: 500;
}
.total {
  margin-left: 25px;
  span {
    padding: 0 5px;
    color: red;
    font-weight: 600;
  }
}
.detail {
  margin: 15px;
  h2 {
    font: 500 18px/32px 'Microsoft Yahei';
  }
  div {
    display: flex;
  }
  span {
    width: 300px;
  }
}